{% extends 'base.html' %}

{% block content %}
<br>


<div class="jumbotron" style="background: #f8f8f8;">

<div class="container">
  <h3 class="text-center">Welcome to vivo's Blog!</h3><br>
  <p class="lead text-center">Read about the latest happening in the tech world...</p>
</div>

</div>


{% for post in posts %}
    <div class="card border-0">

      <div class="card-block" style="padding:8px;font-family:PingFangSC,Arial,'Hiragino Sans GB';">


        <a href="/post/{{post['id']}}">
        <h5 class="card-title">{{post.title}}</h5>
        </a>

        <p class="card-text">{{post.content}}</p>
        <p class="card-text text-muted text-right">{{post.pub_date.strftime('%Y-%m-%d %H:%M:%S')}}</p>
<!--
        <a href="/post/{{post['id']}}" class="btn btn-link">View</a>
-->

      </div>
    </div> <br>
{% endfor %}

{% endblock %}
